{% extends 'base.html' %}
{% load static %}
{% block title %}Select{% endblock %}

{% block content %}
    <p>Select what you want to do:</p>
    <form action="{% url 'tables:select' %}"method="post">{% csrf_token %}
        <div class="row">
            <div class="col">
                <p>Select cat(s)</p>
                <ul class="list-group">
                    {% for cat in allcats %}
                        <li class="list-group-item">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="checkbox" name="selectc" id="selectc-{{ cat.id }}" value="{{ cat.id }}" onclick="disableSelect(this.id)" checked>
                                    <label for="selectc-{{ cat.id }}" style="width: 100px">{{ cat.name }}</label>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <p>From</p>
                <p>Date <input type="text" class="datepick" id="datepicker1" name="fromdate"></p>
            </div>
            <div class="col">
                <p>To</p>
                <p>Date <input type="text" class="datepick" id="datepicker2" name="todate"></p>
            </div>
        </div><!–– row ––>
        <div>
            <input type="submit" name="submitbtn" value="CSV" class="btn btn-success" value="CSV" />
            <input type="submit" name="submitbtn" value="table" class="btn btn-success" value="Table" />
            <input type="submit" name="submitbtn" value="chart" class="btn btn-success" value="Chart" />
        </div>
    </form>
    <script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}